/* .top-btn-container {
  position: fixed;


  bottom: 25px;
  right: 20px;
  z-index: 1000;
  height: 20px;
}
.top-btn {
  height: 20px;
  color: black;
  background-color: yellow;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Ensure the button container is within the viewport and does not overflow */
.top-btn-container {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 5px; /* Distance from the bottom of the viewport */
  right: 20px; /* Distance from the right side of the viewport */
  z-index: 1000; /* Ensure it stays above other content */
  display: flex; /* Center the button within the container */
  align-items: center;
  justify-content: center;
  width: 50px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
}

/* Button styles */
.top-btn {
  width: 100%;
  height: 100%;
  color: black;
  background-color: yellow;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for visibility */
  transition: background-color 0.3s ease;
}
