.about {
  letter-spacing: 0.5px;
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  width: 100%;
} */

/* .centered-text h2 {
  padding: 10px;
  text-decoration: none !important;
  background-color: transparent;
  letter-spacing: 10px;
  width: 100%;
} */

.about_data {
  width: 75%;
  margin: 0 auto;
}

.about h2 {
  margin-bottom: 25px;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  /* border: 2px solid red; */
}

.about p {
  line-height: 25px;
  font-weight: 300px;
  margin-bottom: 6px;
  word-spacing: 2px;
}
/* p[data-aos="zoom-in"] {
  opacity: 1; 
  transition: opacity 0.6s, transform 0.6s;
} */

.about_data {
  margin-bottom: 20px;
}

.about_data ul {
  width: 100%;
  list-style-position: inside;
  padding-left: 0px;
}

.about_data ul li {
  line-height: 25px;
  text-indent: -1.5em;
  padding-left: 1.5em;
  margin-bottom: 10px;
}

.about_data ul li::marker {
  color: #02024c;
  font-size: 24px;
}

.about strong {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 472px) {
  .centered-text h2 {
    text-align: center !important;
  }
}
@media screen and (max-width: 331px) {
  .centered-text h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 280px) {
  .about_data {
    width: 100% !important;
    padding: 10px;
  }
}
