.video-background {
  position: relative;
  top: 70px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-bottom: 120px;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.centered-text h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white !important;
  text-decoration: none !important;
  background-color: transparent;
  letter-spacing: 10px;
  width: 100%;
}

.joinourteam_data_container {
  width: 75%;
  margin: 150px auto 0px;
  font-size: 1rem;
}

.joinourteam_data {
  width: 80%;
  margin: 0px auto;
  word-spacing: 2px;
}
.joinourteam p {
  line-height: 25px;
}

.joinourteam_data h4 {
  margin-bottom: 20px;
  font-weight: 100;
}
.joinourteam_data h2,
.join_complex_problem_data h2,
.missin_vision_data h2 {
  margin-bottom: 15px;
  line-height: 40px;
  font-weight: 100;
}
.joinourteam_data strong,
.join_complex_problem_data strong,
.missin_vision_data strong {
  font-weight: 600;
}

.join_cards_container {
  width: 100%;
  margin: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.join_cards {
  max-width: 400px;
  flex: 1 1 400px;
  padding: 25px;
}

.join_cards_container .join_cards h3 {
  margin-bottom: 10px;
  color: white;
}

.join_cards_container .join_cards p {
  color: white;
}
.join_card1,
.join_card4 {
  background-image: linear-gradient(to right, #02024c 0%, #659af6 100%);
}

.join_card2,
.join_card3 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.join_complex_problem_data {
  width: 100%;
  margin-bottom: 50px;
}

.join_complex_problem_data p {
  font-size: 14px;
}

.missin_vision_conatainer {
  margin-bottom: 50px;
}

.missin_vision_conatainer h4,
.join_user_comments_container h4 {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.missin_vision_data {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mdata {
  max-width: 300px;
  flex-grow: 1;
}

.join_user_comments_container {
  width: 100%;
  margin-bottom: 50px;
}

.join_user_comments_container h4 {
  margin-bottom: 40px;
}

.join_user_comments_data {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.join_user_cards {
  max-width: 350px;
  flex: 1 1 400px;
  background: none;
  display: flex;
  gap: 10px;
}

.join_user_image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
}

.join_user_image_conatiner {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  align-items: center;
}

.join_user_comment {
  padding: 10px;
}

.join_user_image img {
  width: 100px;
  height: 100px;
}

.join_user_name {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 940px) {
  .join_user_cards {
    max-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .join_user_image_conatiner {
    width: 100%;
  }
  .join_user_cards {
    max-width: 100%;
  }
  .missin_vision_data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .mdata {
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .join_user_cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 280px) {
  .joinourteam_data_container {
    width: 100%;
    padding: 10px;
  }

  .joinourteam_data {
    width: 100%;
  }
}
