body,
html,
#root {
  height: 100%;
  margin: 0px;
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 1344px;
  margin: 0px auto;
  position: relative;
}

.content {
  flex: 1;
}

@media (max-width: 280px) {
  .layout {
    flex-direction: column;
    max-width: 100%;
  }
}
