body,
html,
#root {
  height: 100%;
  margin: 0px;
}

.layout {
  display: flex;
  flex-direction: column;
  /* max-width: 1344px; */
  width: 100%;
  margin: 0px auto;
  position: relative;

  /* added  */
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  flex: 1;
}

@media (max-width: 280px) {
  .layout {
    flex-direction: column;
    max-width: 100%;
  }
}
