body,
html,
#root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1450px;
  width: 100%;
  margin: 0px auto;
  /* border: 2px solid red; */
}

.content {
  flex: 1; /* This makes the main content area grow to fill available space */
  /* padding: 0px 20px; */
}

@media (max-width: 280px) {
  .layout {
    flex-direction: column;
    max-width: 100%;
  }
}
