.header_container {
  width: 100%;
  /* border: 2px solid red; */
}

.header {
  max-width: 1344px !important;
  /* box-sizing: border-box; */
  /* border: 2px solid blue; */
  width: 100%;
  /* max-width: 1344px; */
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: #02024c;
}

.bars_container {
  /* border: 2px solid aqua; */
}

.header .logo img {
  width: 150px;
  height: 40px;
  /* line-height: 70px; */
  margin: auto 0px;
  background-color: #02024c;
  /* border: 2px solid red; */
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #02024c;
}

.bars {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  display: none;
  background-color: #02024c;
  height: 100%;
}

@media (max-width: 950px) {
  .sidebar {
    right: -100%;
    /* width: 100%;
    height: 100vh; */
    background-color: #02024c;
    transition: all 0.3s ease;
    position: absolute;
    top: 70px;
    /* border: 2px solid red; */
  }

  .bars {
    display: block;
    cursor: pointer;
    line-height: 70px;
  }
  .sidebar.open {
    right: 0;
  }
}
