.header_container {
  width: 100%;
}

.header {
  /* max-width: 1344px !important; */
  width: 100%;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: #02024c;
}

/* .videocomponent {
  width: 100%;
} */

.navlinkLogo {
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo img {
  width: 150px;
  height: 40px;
  /* margin: auto 0px; */
  background-color: #02024c;
  /* line-height: 70px; */
  /* border: 2px solid yellow; */
  /* margin-top: 100px; */
}

.logo {
  /* margin: auto 0px; */
  height: 100%;
  /* display: flex;
  align-items: center; */
  background-color: #02024c;
  /* border: 2px solid red; */
  /* justify-content: center; */
  /* line-height: 70px; */
}

.bars {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  display: none;
  background-color: #02024c;
  height: 100%;
}

@media (max-width: 950px) {
  .sidebar {
    right: -100%;
    background-color: #02024c;
    transition: all 0.3s ease;
    position: absolute;
    top: 70px;
  }

  .bars {
    display: block;
    cursor: pointer;
    line-height: 70px;
  }
  .sidebar.open {
    right: 0;
  }
}
