/* .blog_container {
  width: 100%;
  border: 2px solid black;
  margin: 0px auto;
} */
.blog_data {
  width: 75%;
  margin: 0px auto;
  /* border: 2px solid red; */
}

.user_image {
  display: flex;
  /* width: 100%; */
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
}

.blog_data img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.blog_cards {
  max-width: 100%;
  /* border: 4px solid black; */
  margin-bottom: 30px;
  display: flex;
  gap: 40px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.blog_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .blog_cards {
    flex-direction: column;
    /* gap: 10px; */
    justify-content: center;
  }
}

@media screen and (max-width: 280px) {
  .blog_data {
    width: 100% !important;
    padding: 10px;
  }
}
