.experience {
  /* letter-spacing: 0.5px;
  width: 70%;

  display: flex;
  flex-direction: column;  */

  letter-spacing: 0.5px;
  /* width: 70%; */
  margin: 0px auto;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}

.experience_data_container {
  width: 75%;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.experience p {
  line-height: 25px;
  font-weight: 300px;
  /* font-size: 1.3125rem; */
  margin-bottom: 30px;
  /* color: #272932; */
  /* text-align: justify; */
  margin-bottom: 25px;
  word-spacing: 2px;
}

.experience h2 {
  margin-bottom: 25px;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  text-align: left;
}

.ourExpertise h2 {
  text-align: center;
}

.ourExpertise_data {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid yellow; */
}

.ourExpertise_data .cards {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1 1 300px;
  max-width: 300px;
  height: 250px;

  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  position: relative;

  transition: all 0.3s ease;
  box-shadow: 10px 10px 6px 1px rgba(0, 0, 0, 0.4);
  /* box-shadow: 6px 6px 9px 1px rgba(0, 0, 0, 0.3); */

  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */

  /* border: 2px solid red; */
  /* transition: background-color 0.3s ease, background-blend-mode 0.3s ease; */
}

.card1 {
  background-image: url("../Assets/o1.jpg");
}
.card2 {
  background-image: url("../Assets/o2.jpg");
}
.card3 {
  background-image: url("../Assets/o7.jpg");
}
.card4 {
  background-image: url("../Assets/o8.jpg");
}
.card5 {
  background-image: url("../Assets/o6.jpg");
}
.card6 {
  background-image: url("../Assets/o5.jpg");
}
.card7 {
  background-image: url("../Assets/o9.jpg");
}
.card8 {
  background-image: url("../Assets/o10.jpg");
}

.cards:hover {
  transform: scale(1.05);
  /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6); */
  /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6); */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.ourExpertise_data .cards::before {
  /* content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  background-color: rgba(0, 0, 0, 0); */
  /* transition: background-color 0.3s ease; */
  /* transition: all 0.3s ease; */
}

.ourExpertise_data .cards h2 {
  /* color: #02024c; */
  /* color: #f41d07; */
  color: #ff3939;
  text-align: center;
  z-index: 100;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
}

@media (max-width: 950px) {
  .ourExpertise_data .cards {
    /* flex: 1 1 250px;
    max-width: 200px;
    height: 150px; */
  }
}

@media screen and (max-width: 280px) {
  .experience_data_container {
    width: 100%;
    padding: 10px;
  }
}
