.jointheteam {
  width: 75%;
  /* border: 2px solid red; */
  margin: 0px auto;
}

.jointheteam p {
  /* border: 2px solid green; */
  width: 100%;
}

.jointheteam p b {
  margin-right: 4px;
  /* border: 2px solid green; */
}

.jointheteam .contact_form {
  margin: 0px;
}

.contactus_Join p {
  width: 100%;
  /* border: 2px solid green; */
}

.contactus_Join {
  margin-bottom: 40px;
  /* border: 2px solid green; */
}
