*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Aeonik", "Helvetica Neue", Arial, sans-serif;
  /* background-color: grey; */
  /* font-size: 0.9rem; */

  /* transition: all 0.3s ease; */
}
